body {
    margin: 60px auto;
    width: 70%;
}
nav ul {
    list-style-type: none;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0px;
    padding: 0px;
	width: 25%;
	background-color: indigo;
	position: fixed;
	height: 100%
	overflow: auto;
    font-weight: bold;
}

nav ul li {
    display: block;
    color: gold;
    padding: 8px 16px;
    text-decoration: none;
}
nav li a.active {
	background-color: blue;
	color: white;
}
div {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 30px;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #0000ff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 3px;
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
